[user]
	name = liam.liao
	mail = liam.liao@latticeworkinc.com
	email = liam.liao@latticeworkinc.com
[http]
	sslVerify = false
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
    co = checkout
    ci = commit
    di = diff
    st = status
    br = branch
    re = remote
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
