[user]
	name = liam.liao
	mail = liam.liao@latticeworkinc.com
	email = liam.liao@latticeworkinc.com
[http]
	sslVerify = false
[core]
	editor = vim
[alias]
    co = checkout
    cp = cherry-pick
    cm = commit
    di = diff
    st = status
    br = branch --sort=committerdate -v
    re = remote
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    slg = log --pretty=oneline
    rl = reflog --date=iso
    al = config --get-regexp alias
[push]
	default = simple
[merge]
	tool = bc4
[mergetool]
    prompt = false
[mergetool "bc4"]
	trustExitCode = true
    cmd = `/usr/bin/bcompare $LOCAL $REMOTE`
[diff]
	tool = bcompare
[difftool]
	prompt = false
[difftool "bc4"]
	trustExitCode = true
    cmd = `/usr/bin/bcompare $LOCAL $REMOTE`
[color "status"]
added = green
    changed = yellow
    untracked = white
    deleted = green
    unmerged = bold yellow
[color "diff"]
added = green
    changed = yellow
    deleted = green
